body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    margin-bottom: 50px;
}

.tabs {
    display: flex;
    margin-left: 5px;
}

.tab {
    padding: 15px 25px;
    cursor: pointer;
    background-color: #202124;
    color: #fff;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
    transition: background-color 0.3s;
}

.tab:hover, .tab.active {
    background-color: #3C3D41;
}

.tab.active {
    background-color: #9c9c9c;
    color: #ffffff;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.tab-content.active {
    display: block;
}

.form-container {
    max-width: 800px;
    margin: 0 auto;
}

fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
}

p {
    margin: 10px 0;
}

input[type="text"], input[type="number"], input[type="date"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

input[type="submit"], input[type="reset"] {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

input{
    width: 100px;
    margin: 10px 0px 4px 0px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}