html, body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #f7f7f7;
}

.sair-container{
    width: 80px;
    background: white;
    justify-content: center;
    display: grid;
    align-items: center;
    height: 40px;
    box-shadow: aliceblue;
    border-radius: 10px;
    border: 3px solid #202124;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 50px;
    transition: 0.3s;
    font-size: 12pt;
    font-weight: 500;
}

.sair-container:hover{
    background: rgb(255, 133, 133);
    width: 70px;
}

.btn{
    background-color: #ffffff;
    width: 120px;
    height: 70px;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 2px solid #202124;
    border-top: 0px;
    transition: 0.2s;
}

.btn:hover{
    height: 100px;
}

.btn_container{
    display: flex;
    justify-content: space-around;
    margin: 0px 30px 0px 30px;
}

.img_btn img{
    width: 60px;
}

.img_btn {
    display: grid;
    justify-content: center;
    align-items: center;
}

.txt_btn{
    display: grid;
    justify-content: center;   
    align-items: center;
    color: white; 
    font-weight: bold;
    font-size: 10pt;
    background-color: #202124;
    width: 120px;
    height: 35px;
    border: 2px solid #202124;
    margin-bottom: -5px;
    border-radius: 0px 0px 10px 10px;
}

a{
    text-decoration: none;
}

.cardaaa{
    display: grid;
    justify-content: center;
    width: 120px;
}